.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20rem;
  .toolbar {
    background: green;
    padding: 2rem;
    color: white;
  }
  .questionContainer {
    width: 40rem;
    margin: auto;
  }

  .next {
    margin: auto;
    width: 10rem;
  }
}
