.container {
  background: whitesmoke;

  .question {
    background: #f1f8e9;
    padding: 2rem;
  }
  .optionList {
    .option {
      background: #fafafa;
      padding: 1rem 0 1rem 2rem;
      border: 1px solid rgba(0, 0, 0, 0.01);
      &:hover {
        background: #c8e6c9;
      }
      &.correct {
        background: #c8e6c9;
      }
    }
  }
}
